#container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    padding: 2rem;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

#register-form input {
    height: 2rem;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    background: #e0e0e0;
}

#register-form button {
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: hsl(248, 53%, 58%);
    color: white;
}

#register-form button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}